body{
 background-image: url(https://images.alphacoders.com/104/thumb-1920-1044436.jpg);
 background-repeat: no-repeat;
 background-size: 1500px;
 background-position: top;
 background-color: #FFB6CC;
}
.corpo{
	color: #87CEFA;
	text-shadow: 1px 1px black;
	text-align: center 
}
.corpo span{
	color: #FFB6CC;
}
h1{
	font-size: 100px;
}
h2{
	font-size: 50px;
	text-shadow: 1px 1px black;
}
h4{
	font-size: 25px;
	color: #FFB6CC;
}
button{
	text-shadow: 1px 1px black;

}
.corpo2{
	color: #87CEFA;
	text-align: center 
}